@import './base.css';

body {
  -webkit-app-region: drag; /* 全局默认可拖拽 */
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  user-select: none;
}

/* 排除所有原生可交互元素避免正常交互 */
button,
input,
select,
textarea,
a,
[role='button'],
[tabindex='0'] {
  -webkit-app-region: no-drag;
}

/* 自定义的可操作组件（如自定义按钮、开关等），也需要添加 */
.el-input__suffix {
  -webkit-app-region: no-drag !important;
}

/* 所有带 no-drag 类的元素不可拖拽 */
.no-drag {
  -webkit-app-region: no-drag !important; /* !important 确保优先级 */
}

/* Bounce Animation */
.dialog-bounce-enter-active,
.dialog-bounce-leave-active,
.dialog-bounce-enter-active .el-dialog,
.dialog-bounce-leave-active .el-dialog {
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dialog-bounce-enter-from,
.dialog-bounce-leave-to {
  opacity: 0;
}

.dialog-bounce-enter-from .el-dialog,
.dialog-bounce-leave-to .el-dialog {
  transform: scale(0.3) translateY(-50px);
  opacity: 0;
}
